@model BoardViewModel

@{
    ViewData["Title"] = "Chess Board";
}

<link rel="stylesheet" href="~/css/game.css" />


<div class="chess-board-container">
    <img src="~/images/@Model.BoardImage" alt="Chess board" class="chess-board-background" />
    @foreach (var figure in Model.Figures)
    {
        <img src="~/images/pieces/@figure.Image"
             alt="@figure.Name"
             id="piece-@figure.Id"
             class="figure-img"s
             data-name="@figure.Name"
             data-color="@figure.Color"
             draggable="true"
             style="top:@figure.PositionY%; left:@figure.PositionX%;" />
    }
</div>

<div class="captured-pieces">
    @foreach (var figure in Model.CapturedFigures)
    {
        <img src="~/images/pieces/@figure.Image"
             alt="@figure.Name"
             class="captured-figure-img" />
    }
</div>

<script src="~/js/game.js"></script>