.chess-board-container {
    position: relative;
    width: 512px; 
    height: 512px;
    margin: auto;
}

.chess-board {
    width: 100%;
    height: 100%;
}

.piece {
    position: absolute;
    width: 64px; 
    height: 64px;
    pointer-events: none;
}
