@{
    ViewBag.Title = "Chess Game";
}

<link rel="stylesheet" href="~/css/game.css"> 


<div class="container mt-4 text-center">
    <h2>Chess Board</h2>

    <div class="chess-board-container">
        <img src="~/images/board.png" alt="Chess Board" class="chess-board" />

        <img src="~/images/pieces/bK.png" class="piece" id="bK" style="top: 0px; left: 256px;" alt="Black King" />
        <img src="~/images/pieces/bQ.png" class="piece" id="bQ" style="top: 0px; left: 192px;" alt="Black Queen" />
        <img src="~/images/pieces/bB.png" class="piece" id="bB1" style="top: 0px; left: 128px;" alt="Black Bishop" />
        <img src="~/images/pieces/bN.png" class="piece" id="bN1" style="top: 0px; left: 64px;" alt="Black Knight" />
        <img src="~/images/pieces/bR.png" class="piece" id="bR1" style="top: 0px; left: 0px;" alt="Black Rook" />
        <img src="~/images/pieces/bB.png" class="piece" id="bB2" style="top: 0px; right: 128px;" alt="Black Bishop2" />
        <img src="~/images/pieces/bN.png" class="piece" id="bN2" style="top: 0px; right: 64px;" alt="Black Knight2" />
        <img src="~/images/pieces/bR.png" class="piece" id="bR2" style="top: 0px; right: 0px;" alt="Black Rook2" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP1" style="top: 64px; left: 0px;" alt="Black Pawn1" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP2" style="top: 64px; left: 64px;" alt="Black Pawn2" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP3" style="top: 64px; left: 128px;" alt="Black Pawn3" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP4" style="top: 64px; left: 192px;" alt="Black Pawn4" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP5" style="top: 64px; left: 256px;" alt="Black Pawn5" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP6" style="top: 64px; right: 64px;" alt="Black Pawn6" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP7" style="top: 64px; right: 0px;" alt="Black Pawn7" />
        <img src="~/images/pieces/bP.png" class="piece" id="bP8" style="top: 64px; right: 128px;" alt="Black Pawn8" />

        <img src="~/images/pieces/wK.png" class="piece" id="wK" style="top: 448px; left: 256px;" alt="White King" />
        <img src="~/images/pieces/wQ.png" class="piece" id="wQ" style="top: 448px; left: 192px;" alt="White Queen" />
        <img src="~/images/pieces/wB.png" class="piece" id="wB1" style="top: 448px; left: 128px;" alt="White Bishop" />
        <img src="~/images/pieces/wN.png" class="piece" id="wN1" style="top: 448px; left: 64px;" alt="White Knight" />
        <img src="~/images/pieces/wR.png" class="piece" id="wR1" style="top: 448px; left: 0px;" alt="White Rook" />
        <img src="~/images/pieces/wB.png" class="piece" id="wB2" style="top: 448px; right: 128px;" alt="White Bishop2" />
        <img src="~/images/pieces/wN.png" class="piece" id="wN2" style="top: 448px; right: 64px;" alt="White Knight2" />
        <img src="~/images/pieces/wR.png" class="piece" id="wR2" style="top: 448px; right: 0px;" alt="White Rook2" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP1" style="top: 384px; left: 0px;" alt="White Pawn1" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP2" style="top: 384px; left: 64px;" alt="White Pawn2" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP3" style="top: 384px; left: 128px;" alt="White Pawn3" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP4" style="top: 384px; left: 192px;" alt="White Pawn4" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP5" style="top: 384px; left: 256px;" alt="White Pawn5" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP6" style="top: 384px; right: 64px;" alt="White Pawn6" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP7" style="top: 384px; right: 0px;" alt="White Pawn7" />
        <img src="~/images/pieces/wP.png" class="piece" id="wP8" style="top: 384px; right: 128px;" alt="White Pawn8" />
    </div>
</div>

<script src="~/js/game.js"></script>

<script>
        function onDragStart(event) {
        // Store the reference to the dragged piece and its position
        draggedFigure = event.target;
        fromRow = draggedFigure.getAttribute('data-row');
        fromCol = draggedFigure.getAttribute('data-col');

        // Transfer data for drop event
        event.dataTransfer.setData('text/plain', `${fromRow},${fromCol}`);
    }

    // Called when a square receives a drop
    function onDrop(event) {
        event.preventDefault();

        // Get target square row/col from dataset
        const square = event.currentTarget;
        const toRow = square.getAttribute('data-row');
        const toCol = square.getAttribute('data-col');

        // Send move info to backend (example using hidden form fields)
        document.getElementById('fromRow').value = fromRow;
        document.getElementById('fromCol').value = fromCol;
        document.getElementById('toRow').value = toRow;
        document.getElementById('toCol').value = toCol;

        // Optionally, submit the form
        document.getElementById('moveForm').submit();

        // Optionally, update UI immediately (optimistic move) - recommended to wait for backend validation
        // square.appendChild(draggedFigure); // if you want instant feedback

        // Clear drag state
        draggedFigure = null;
        fromRow = null;
        fromCol = null;
    }

    // Attach event listeners after DOM is loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Make sure all pieces are draggable and connect events
        document.querySelectorAll('.chess-piece[draggable="true"]').forEach(piece => {
            piece.addEventListener('dragstart', onDragStart);
        });

        // Make all board squares droppable
        document.querySelectorAll('.board-square').forEach(square => {
            square.addEventListener('drop', onDrop);
            square.addEventListener('dragover', function (e) { e.preventDefault(); });
        });
    });
</script>

