@{
    ViewData["Title"] = "Home";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="col-md-3">
                <a asp-area="" asp-controller="Game" asp-action="Game" class="btn btn-primary btn-lg">
                    Start Game
                </a>
            </div>
        </div>
    </div>
</div>



