.chess-board-container {
    width: 600px;
    height: 600px;
}

.chess-board-background {
    width: 100%;
    height: 100%;
    display: block;
}

.figure-img {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    pointer-events: none;
    filter: drop-shadow(0 0 2px #222);
}
