@using Chess.Common
@using Chess.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/css/login.css" />

<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle p-0 border-0 me-3" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="~/images/user/user.png" alt="User Icon" class="user-icon" />
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-controller="User" asp-action="Profile"
                   class="btn btn-link text-decoration-none text-light w-100 text-start"
                   style="font-size:17px; padding:10px 33px;">
                    <span class="me-2"><i class="bi bi-person-circle"></i></span> Profile
                </a>
            </li>

            <li>
                <form class="dropdown-item p-0"
                      asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                      method="post">
                    <button type="submit" class="btn btn-link text-decoration-none text-light w-100 text-start"
                            style="font-size:17px; padding:10px 33px;">
                        <span class="me-2"><i class="bi bi-power"></i></span> Logout
                    </button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">
                    <span class="me-2"><i class="bi bi-box-arrow-in-right"></i></span> Login
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">
                    <span class="me-2"><i class="bi bi-person-plus"></i></span> Register
                </a>
            </li>
        }
    </ul>
</div>
